.header {
    border: 1px solid grey;
    padding: 0;
    margin: 0px 10px 10px;
    z-index: -1;
}

.header img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    width: 70%;
}

.coverpic{
    height : 30px;
    width: 10%;
    position: absolute;
    margin-left: 80%;
    margin-right: 5%;
    margin-top: 2%;
    overflow: auto;
    padding: 0 0 0 5px;
    transition: all .2s linear;
    background : rgba(255, 255, 255, 0.5);
}

.coverpic p{
    font-size: 12pt;
    color: rgba(0, 0, 255, 0);
}

.image img{
    float: right;
    width: 30px;
    height: 30px;
}

.image a{
    pointer-events: none;
}
