.header {
    border: 1px solid grey;
    padding: 0;
    margin: 0px 10px 10px;
}

.header img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.coverpic {
    font-size: 10pt;
    margin-left: 60%;
    margin-right: 5%;
    margin-top: 2%;
    border: solid 2px black;
    overflow: auto;
    padding: 0 0 0 5px;
}

.coverpic img{
    float: right;
    padding-right: 3%;
    width: 25px;
    height: 25px;
}