.header {
    border: 1px solid grey;
    padding: 0;
    margin: 0px 10px;
}

.picture {
    text-align: center;
}

.picture img {
    height: 100px;
}

.header h2{
    margin: 0;
}

.header h4{
    color: grey;
    margin: 0 0 15px;
}