.comments{
    display: block;
	position: relative;
	background: #f3f3f3;
    border-radius: .4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 80%;
    padding: 2%;
    overflow: auto;
}

.header img{
    float: left;
    width: 10%;
    height: 10%;
    margin-top: 3%;
    margin-left: 2%;
}