.Member {
    margin: 9px 5px 0px 0px;
    padding-left: 5px;
}

hr{
    margin-bottom: 0;
}

.header {
    border: 1px solid grey;
    font-weight: bold;
    margin: 0px 10px;
    padding-bottom: 5px;
}

.list {
    display: flex;
    flex-direction: column;
}

.hiddenEnabled{
    display:none;
}

.showMoreButton{
    height: 20px;
    width: 100%;
    text-align: center;
    border-top: 1px solid grey;
    color: #084C9E;
    padding: 10px 0px;
    padding-bottom: 0;
    font-size: 14px;
}
.showMoreButton:hover{
    color:#83a5ce;
    cursor: pointer;
}

.pHide{
    padding-right: 2%;
    float: right;
    color: #084C9E;
}
.pHide:hover{
    color:#83a5ce;
    cursor: pointer;
}

.addMore{
    padding-right: 2%;
    float: right;
    color: #084C9E;
}

.addMore:hover{
    color:#83a5ce;
    cursor: pointer;
}