.postContainer{
    height:200px;
    margin-bottom: 15px;
}

.header {
    border: 1px solid grey;
    padding-left: 5px;
    float: left;
    height: 200px;
    width: 80%;
}

.votes{
    border: 1px solid grey;
    float: left; 
    height: 200px;
    line-height: 200px;
    margin-right: -1px;
    margin-left: 10px;
    width: 12%;
    text-align: center;
}
.profileheader{
    margin-top: 5px;
    margin-left: 5px;
}
.profileheader span{
    font-size: 9pt;
}
.userName{
    font-size: 9pt;
}
.date{
    font-size: 8pt;
}

.etc{
    float: right;
}
.etc img{
    position: relative;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    overflow: auto;
    transition: all .5s linear;
}
.etc ul{
    position: absolute;
    right: 100px;
    margin-top: 10px;
    right: 13%;
}

.etc li{
    color: rgba(0,0,0,1);
    border: solid 1px rgba(0, 0, 0, 1);
    height: 25px;
    width: 6%;
    font-size: 8pt;
    list-style-type: none;
    transition: all .5s linear;
}

.column{
    float: left;
    width: auto;
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}
.post{
    margin-top: 2%;
    margin-left: 5%;
    height: 60px;
}
.tags{
    font-size: 8pt;
    display: inline-block;
    border: 1px solid #83a5ce;
    background-color: #0645AD;
    color: white;
    padding: 6px 7px;
    border-radius: 15px;
}

.comment{
    font-size: 10pt;
}

.comment img{
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.share img{
    margin-left: 5%;
    height: 20px;
    width: 20px;
}

.selfcomment h4{
    display:block;
    margin: 0% 0% 3% 5%; 
    border: 1px solid black;
    width: 90%;
    border-radius: 5px;
    color: grey;
}

