.CommentsDrawer {
    position: fixed;
    width: 100%;
    height: 98%;
    left: 0;
    top: 2%;
    z-index: 200;
    background-color: white;
    box-sizing: border-box;
    transition: transform 0.25s ease-out;
    border-radius: 1em;
}

.Open{
    transform: translateY(0);
    overflow: scroll;
}

.Open img{
    display: block;
    height: 35px;
    width: 35px;
    margin-top: 2%;
}

.Close{
    transform: translateY(100%);
}

.Close img{
    display: block;
    height: 35px;
    width: 35px;
    margin-top: 2%;
}

input{
    margin-top: 40%;
    margin-left: 3%;
    width: 80%;
    clear: none;
    border: solid 1px black;
}

.submit{
    float: right;
    margin-right: 3%;
    margin-top: 39%;
}

.submit img{
    height: 30px;
    width: 30px;
}
